:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #FFFFFF;
    --background-button-color:#F5F4FA;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
}

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* page header */

.page-header {
    background-color:var(--text-color);
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* logo */

.part-logo {
    color: var(--accent-color);
}

.logo {

    color: #000000;
    font-family: Raleway, cursive;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* site nav */

.part-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
margin-right: 51px;
}

.site-nav .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* contacts */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.contacts .contact-link {
    color: var(--primary-text-color);
    text-decoration: none;

    padding-top: 20px;
    padding-bottom: 20px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.contacts .contact-link:hover,
.contacts .contact-link:focus {
    color: var(--accent-color);;
}

/* hero */

.hero {
    text-align: center;
    background-color: var(--background-color);
    /* padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; */
}

.hero-title {
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--text-color);
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* .button {
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
} */

.button.primary {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--title-text-color);
    background-color: var(--background-button-color);
}


.button.secondary {
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    background-color: var(--background-button-color);
    cursor: pointer;
    text-align: center;
    border: none;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

/* section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    background-color: aqua;
}

/* features */

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71; 
}

/* team */

.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list .job {
   
        font-size: 16px;
        line-height: 1.19;
}

/* fotter contacts */

.logo-down {
    color: var(--text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-down:hover,
.logo-down:focus {
    color: var(--accent-color);
}

.address {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.footer-contact-link {
    color: var(--footer-contact);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
}

.footer {
    background-color: var(--background-color);
}

/* portfolio list */

.portfolio-list .title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}

.portfolio-list .category {
    font-size: 16px;
    line-height: 1.88;
}



